body{

    font-family:  "Raleway" ,sans-serif;
}

html{
max-width: 100%;
height: 100%;
}

* {margin:0;padding:0;} 

body {
  font-family :'Raleway', serif;
  background-color : #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;

}


#navbar_u a {
    color: white;
    margin-right: 25px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif; 
}

#slika{
    margin-left: 25px;
    margin-right: 45px;
}

#navigation{
    padding: 0px;

}

#navbar_u{
    padding-top: 25px;
    padding-bottom:  15px;
}

.nav-link{
  position: relative;
}

.nav-link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #19e082;
  transition: width 0.3s ease;
}

.nav-link:hover::before{
  width: 100%;
}


.navbar-toggler {
color: transparent;
background-color: white;

}

.dropdown-menu{
    background-color: #19e082;
    border: none;
}
.dropdown-item:hover{
    background-color: transparent;
}
.dropdown-item{

    position: relative;
    text-decoration: none;
    font-family: "Raleway",sans-serif;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 80%;

}
.dropdown-item:before{
    content: "";
    position: absolute;
    height: 0.1em;
    width: 80%;
    background: linear-gradient(
        to right,
        #090261,
        #0108cc,
        #005dfd,
        #007afd,
        #008ffd,
        #00dbfd
    );
    bottom: -0.1em;
    transition: 1.5s;
}
.dropdown-item:hover:before{
    background-position: 100% 0;
}
.active-link {
  position: relative;
}
.hdr{
color: white;
font-family: "Raleway", sans-serif;
font-weight: 800;
margin-top: 8%;
font-size: 50px;
}
.undertext{
color: rgb(189, 189, 189);
font-family: "Raleway", sans-serif;
font-size: 20px;
padding-top: 0;
}
.glava{
    background-image: url("img/header\ poz");
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    min-width: 100%;

}

.dugme{
    
        font-size: 18px;
        font-weight:900;
        text-transform: uppercase;
        line-height: 40px;
        background-color: #19e082;
        border: none;
        border-radius: 50px;
        padding: 0 40px;
        color: #2f1956;
        transition-duration: 300ms;
}

.dugme:hover{
    background-color: #7eebb8 !important;
    
}

.fiksiranoDugme{
    font-size: 18px;
    font-weight:900;
    text-transform: uppercase;
    background-color: #19e082;
    border: none;
    border-radius: 50px;
    padding: 0 40px;
    color: #2f1956;
    transition-duration: 300ms;
    text-decoration: none;
    position: fixed;
    height: 50px;
    bottom: 3%;
    right: 2%;
    text-align: center;
    line-height: 50px;
}
































.footer {
  width: 100%;
  background-color: #191629;
  background-image: url("img/footer-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  font-size: 12px;
  border-top: 4px solid;
  font-family: "Raleway", sans-serif;
  padding-bottom: 6%;
}

footer  span{
color:#726d8c;
}

footer h2{
font-size:48px;
font-weight: 800;
color: white;
font-family: "Raleway", sans-serif;
}

footer ul li a{
  background-image: url("img/arrow.png");
  background-repeat: no-repeat;
  padding-left: 20px;
}

footer a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}
  
footer a:hover{
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
}

.opis{
  color: #19e082;
  font-size: 22px;
  font-weight:100;
}
.opis:hover{
  text-decoration: underline;
  font-weight:100;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer li a {
  color: #8f8f8f;
  font-size: 12px;
  line-height: 30px;
  display: inline;
}

footer  hr {
  color: #fefcff;
  margin: 0;
}

.copyright{
font-size: 18px;
font-family: "Raleway" , sans-serif;
padding-top: 10px;
padding-bottom: 15px;
}
  